@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root {
  /* Colors */
  --clr-page-bg: hsl(234, 17%, 12%);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* Styles */

body {
  background-color: var(--clr-page-bg);
  /* background-image: url(./images/bg-stars.svg); */
  background-size: cover;
  background-position: center;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  font-size: 4rem;
}

.container {
  margin-inline: auto;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  width: 11.25rem;
  height: 10.5rem;
  perspective: 300px;
  position: relative;
}

.card-half {
  width: 11.25rem;
  height: 5.25rem;
  overflow: hidden;
  position: absolute;
  transform-origin: bottom;
}

.card-half p {
  text-align: center;
}

.card-top-position {
  top: 0;
  left: 0;
  z-index: 3;
}

.card-top-position p {
  transform: translateY(50%);
}

.card-top-style {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  background-color: hsl(240 21% 22%);
  color: hsl(345 60% 57%);
}

.card-top-style::before,
.card-top-style::after {
  content: '';
  background-color: var(--clr-page-bg);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  bottom: -0.5rem;
}

.card-top-style::before {
  left: -0.5rem;
}

.card-top-style::after {
  right: -0.5rem;
}

.card-bottom-position {
  bottom: 0;
  left: 0;
  z-index: 1;
}

.card-bottom-position p {
  transform: translateY(-50%);
}

.card-bottom-style {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  background-color: hsl(236, 21%, 26%);
  color: hsl(345, 95%, 68%);
}

.card-bottom-style::before,
.card-bottom-style::after {
  content: '';
  background-color: var(--clr-page-bg);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: -0.5rem;
}

.card-bottom-style::before {
  left: -0.5rem;
}

.card-bottom-style::after {
  right: -0.5rem;
}

.new-card-top-position {
  top: 0;
  left: 0;
  z-index: 2;
}

.new-card-top-position p {
  transform: translateY(50%);
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(-180deg);
  }
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
